.footer {
  background-color: #FFCA18;
  color: rgb(2, 2, 2);
  padding: 4px 2px;
  margin-top: 4rem;
  border-radius: 0%;
}

.footerContent {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.contactSection {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  text-align: left;
}

.socialSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.socialSection a {
  color: rgb(2, 2, 2);
  text-decoration: none;
}

.faqSection {
  text-align: right;
}

@media (max-width: 768px) {
  .footer {
      padding: 2rem 1rem;
  }

  .footerContent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0rem;
  }

  .contactSection {
      align-items: center;
      text-align: center;
  }

  .socialSection {
      align-items: center;
  }

  .faqSection {
      text-align: center;
  }
}